	<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Edit Address<span></span></h1>

        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
        	
        		<div class="container">
                    <form action="/edit-address/{{address._id}}" method="post" name="address-form"  id="address-form">
		                
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>First Name *</label>
		                						<input type="text" id="firstname" value="{{address.firstName}}" placeholder="{{address.firstName}}" name="firstName"class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Last Name *</label>
		                						<input type="text" id='lastname'value="{{address.lastName}}" placeholder="{{address.lastName}}" name="lastName" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->
										<label>Email address *</label>
	        							<input type="email" id="email" value="{{address.email}}" placeholder="{{address.email}}" name="email" class="form-control" required>

	            						

	            						<label>Country *</label>
	            						<input type="text" id="country" value="{{address.country}}" placeholder="{{address.country}}"name="country" class="form-control" required>

	            						<label>Street address *</label>
	            						<input type="text" class="form-control" value="{{address.city}}" placeholder="{{address.city}}" id=" street" name="address" placeholder="House number and Street name" required>
	            						

	            						<div class="row">
		                					<div class="col-sm-6">
		                						<label>Town / City *</label>
		                						<input type="text"id="city" value="{{address.city}}" placeholder="{{address.city}}" name="city" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>State / County *</label>
		                						<input type="text" id="state"value="{{address.state}}" placeholder="{{address.state}}" name ="state" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>Postcode / ZIP *</label>
		                						<input type="text" id="pincode" value="{{address.pincode}}" placeholder="{{address.pincode}}" name="pincode" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Phone *</label>
		                						<input type="tel" id="mobile" value="{{address.phone}}" placeholder="{{address.phone}}"name="phone" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	                					
                                        <input type="text" id="" name="userId" value="{{user._id}}" class="form-control" hidden>

                                        <input class="btn btn-primary" type="submit"  value="Submit">


	        							{{!-- <div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
											<label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
										</div><!-- End .custom-checkbox --> --}}

										{{!-- <div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
											<label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
										</div><!-- End .custom-checkbox --> --}}

	                					
		                		
							<div>
								<a  class="btn btn-success mt-3" href="/place-order">Back to Place Order</a>
								
							</div>
		                	</div><!-- End .row -->
            			</form>
						<div>

							

						</div>
						</div>

                        