<html lang="en">
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
  ></script>

  <!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

  <body>
    <div class="page-wrapper">
      <main class="main">
        <div
          class="page-header text-center"
          style="background-image: url('assets/images/page-header-bg.jpg')"
        >
          <div class="container">
            <h1 class="page-title">WISH LIST<span>Shop</span></h1>
          </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shopping
                Cart</li>
            </ol>
          </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
          <div class="cart">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <table class="table table-cart table-mobile">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>item</th>
                        <th>title</th>

                        <th>Price</th>
                        {{! <th>Quantity</th>    }}
                        {{! <th>Total</th>
											<th></th> }}
                      </tr>

                    </thead>

                    {{! -------------------------------------------------------- }}
                    {{#each product}}

                      <tr>
                        <td>1</td>

                        <td><img
                            style="width: 70px;height:78px"
                            src="/images/product/{{this.items.img.[0]}}"
                            alt=""
                          /></td>
                        <td>{{this.items.name}}</td>
                        
                        <td class="total-col">₹ {{this.items.price}}</td>

                        <td>

                        </td>
                        <td>{{this.price}}</td>
                        <td> <a href="/add-to-cart-wishlist/{{this.items._id}}"style="success" class=" btn-product btn-cart"title="Add to cart"><span>add to cart</span></a></td>

                        <td>
                          <a class="btn btn-danger" href="/remove-wishlist/{{this.items._id}}"
                            {{!-- onclick=removeitemwish('{{this._id}}','{{this.item._id}}') --}}
                            
                          >Remove</a>
                        </td>
                      </tr>
                    {{/each}}

                    {{! 									
                                        </tbody> }}

                    {{! -------------------------------------------------------- }}
                  </table><!-- End .table table-wishlist -->

                  <div class="cart-bottom">
                    <div class="cart-discount">

                    </div><!-- End .cart-discount -->

                  </div><!-- End .cart-bottom -->
                </div><!-- End .col-lg-9 -->

              </div><!-- End .row -->
            </div><!-- End .container -->
          </div><!-- End .cart -->
        </div><!-- End .page-content -->
      </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i
        class="icon-arrow-up"
      ></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <!-- Sign in / Register Modal -->
    <div
      class="modal fade"
      id="signin-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="icon-close"></i></span>
            </button>

            <div class="form-box">
              <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="signin-tab"
                      data-toggle="tab"
                      href="#signin"
                      role="tab"
                      aria-controls="signin"
                      aria-selected="true"
                    >Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="register-tab"
                      data-toggle="tab"
                      href="#register"
                      role="tab"
                      aria-controls="register"
                      aria-selected="false"
                    >Register</a>
                  </li>
                </ul>
                <div class="tab-content" id="tab-content-5">
                  <div
                    class="tab-pane fade show active"
                    id="signin"
                    role="tabpanel"
                    aria-labelledby="signin-tab"
                  >
                    <form action="#">
                      <div class="form-group">
                        <label for="singin-email">Username or email address *</label>
                        <input
                          type="text"
                          class="form-control"
                          id="singin-email"
                          name="singin-email"
                          required
                        />
                      </div><!-- End .form-group -->

                      <div class="form-group">
                        <label for="singin-password">Password *</label>
                        <input
                          type="password"
                          class="form-control"
                          id="singin-password"
                          name="singin-password"
                          required
                        />
                      </div><!-- End .form-group -->

                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>LOG IN</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>

                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="signin-remember"
                          />
                          <label
                            class="custom-control-label"
                            for="signin-remember"
                          >Remember Me</label>
                        </div><!-- End .custom-checkbox -->

                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                      </div><!-- End .form-footer -->
                    </form>
                    <div class="form-choice">
                      <p class="text-center">or sign in with</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-g">
                            <i class="icon-google"></i>
                            Login With Google
                          </a>
                        </div><!-- End .col-6 -->
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-f">
                            <i class="icon-facebook-f"></i>
                            Login With Facebook
                          </a>
                        </div><!-- End .col-6 -->
                      </div><!-- End .row -->
                    </div><!-- End .form-choice -->
                  </div><!-- .End .tab-pane -->
                  <div
                    class="tab-pane fade"
                    id="register"
                    role="tabpanel"
                    aria-labelledby="register-tab"
                  >
                    <form action="#">
                      <div class="form-group">
                        <label for="register-email">Your email address *</label>
                        <input
                          type="email"
                          class="form-control"
                          id="register-email"
                          name="register-email"
                          required
                        />
                      </div><!-- End .form-group -->

                      <div class="form-group">
                        <label for="register-password">Password *</label>
                        <input
                          type="password"
                          class="form-control"
                          id="register-password"
                          name="register-password"
                          required
                        />
                      </div><!-- End .form-group -->

                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>SIGN UP</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>

                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="register-policy"
                            required
                          />
                          <label
                            class="custom-control-label"
                            for="register-policy"
                          >I agree to the
                            <a href="#">privacy policy</a>
                            *</label>
                        </div><!-- End .custom-checkbox -->
                      </div><!-- End .form-footer -->
                    </form>
                    <div class="form-choice">
                      <p class="text-center">or sign in with</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-g">
                            <i class="icon-google"></i>
                            Login With Google
                          </a>
                        </div><!-- End .col-6 -->
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-f">
                            <i class="icon-facebook-f"></i>
                            Login With Facebook
                          </a>
                        </div><!-- End .col-6 -->
                      </div><!-- End .row -->
                    </div><!-- End .form-choice -->
                  </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
              </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
          </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
      </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

  </body>

  {{!-- {{!-- -----script foer table no - in first td-}} --}}

  <script>
    
$('.added').on('click',function (e) {
    e.preventDefault();
    var self = $(this);
    console.log(self.data('title'));
   Swal.fire(
'Product Added to cart! ',
'',
'success'
).then((result) => {
        
           
          location.href = self.attr('href');
        
    })

})
  </script>
  <script>



    $('.delete').on('click',function (e) {
        e.preventDefault();
        var self = $(this);
        console.log(self.data('title'));
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
              location.href = self.attr('href');
            }
        })

    })

  </script>
  <script src="/pub"></script>

</html>